@media all and (max-width: 1690px) {
    body {
        background-position: center;
    }
    #content {
        height: auto;
        padding: 0;
    }
    #section_index {
        width: 100%;
        height: auto;
    }
    article p {
        padding: 0 8%;
    }
}
@media all and (max-width: 780px) {
    #ip {
        font-size: 2em;
    }
    article p {
        padding: 0 2%;
        text-align: center;
    }
    .youtube iframe {
        width: 520px;
        height: 275px;
        margin: 0 2%;
    }
}
@media all and (max-width: 480px) {
    #main_title img {
        width: 80%;
        height: auto;
    }
    #ip {
        font-size: 1.5em;
    }
    .subtitle {
        font-size: 1.4em;
    }
}
@media all and (max-width: 360px) {
    #main_title {
        font-size: 2.5em;
    }
    iframe {
        height: 400px;
        width: 300px;
    }
    #aside_left {
        width: 340px;
        height: auto;
    }
    .subtitle {
        font-size: 1.2em;
    }
}