@media all and (max-width: 1690px) {
    body {
        background-position: center;
    }
    #content {
        height: auto;
        padding: 0;
    }
    #section_index {
        width: 100%;
        height: auto;
    }
    article p {
        padding: 0 8%;
    }
}
@media all and (max-width: 780px) {
    #main_title {
        font-size: 3.5em;
    }
    #ip {
        font-size: 2em;
    }
    article p {
        padding: 0 2%;
        text-align: center;
    }
}
@media all and (max-width: 480px) {
    #main_title {
        font-size: 3em;
    }
    #ip {
        font-size: 1.5em;
    }
}
@media all and (max-width: 360px) {
    #main_title {
        font-size: 2.5em;
    }
    iframe {
        height: 400px;
        width: 300px;
    }
    #aside_left {
        width: 340px;
        height: auto;
    }
}