body {
    background-image: url(../img/body/bodystaff_2560.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.white {
    color: #ffffff !important;
}
.center {
    text-align: center;
}
.flex-justify-center {
    display: flex;
    justify-content: center;
}
p {
    font-size: 1.4em;
    color: #ffffff;
}
#main_title {
    font-size: 4em;
    text-transform: uppercase;
    text-shadow: -1px 1px 0 #cc0000, 1px 1px 0 #cc0000, 1px -1px 0 #cc0000, -1px -1px 0 #cc0000, 0px 20px 0.5em #cc0000, 0px -20px 0.5em #cc0000, 30px 0px 0.5em #cc0000, -30px 0px 0.5em #cc0000;
    margin: 0;
}
#title {
    height: 92vh;
    flex-direction: column;
}
section {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#discord {
    color: #357be6;
}
.logo {
    height: 20em;
}
.hidden {
    visibility: hidden;
    position: absolute;
}