header {
    background-color: rgba(0, 0, 0, 0.7) !important;
    width: 100%;
    /* border-bottom: solid 1px #000000; */
    /* box-shadow: 0 5px 5px #000000; */
}
.nav-police {
    font-size: 1.5em;
}
header a {
    color: #ffffff !important;
    text-shadow: 3px 3px 3px #cc0000 !important;
}
header a:hover {
    color: #cc0000 !important;
    text-shadow: 3px 3px 3px #ffffff !important;
}
.button-header {
    border-color: #ffffff !important;
}
.custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media all and (max-width: 991px) {

    .link-city {
        margin: 0;
    }

    .nav-link {
        padding: 0 !important;
    }
}