body {
    font-family: "jockey_oneregular", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/body/bodyquest_2560.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.white {
    color: #ffffff;
}
.center {
    text-align: center;
}
#main_title {
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;
    text-shadow: -1px 1px 0 #cc0000, 1px 1px 0 #cc0000, 1px -1px 0 #cc0000, -1px -1px 0 #cc0000, 0px 20px 0.5em #cc0000, 0px -20px 0.5em #cc0000, 30px 0px 0.5em #cc0000, -30px 0px 0.5em #cc0000;
}
#title {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}
#section_quest {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
article {
    padding: 1%;
}
h2 {
    font-size: 2.5em;
    text-shadow: 5px 5px 0.5em #cc0000, -5px -5px 0.5em #cc0000;
}
p {
    font-size: 1.5em;
}
em {
    text-shadow: 5px 5px 0.5em #cc0000, -5px -5px 0.5em #cc0000;
    font-style: normal;
}
img {
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    margin: 0 1%;
}
#h2_end
{
    padding: 2% 0;
    margin: 0;
}