body {
    font-family: "jockey_oneregular", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/bodyadmin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.white
{
    color: #ffffff;
}
#submit, select, #return_a
{
    font-size: 1em;
}
label, p
{
    font-size: 1.5em;
}
.center
{
    text-align: center;
}
.uppercase
{
    text-transform: uppercase;
}
textarea, #titre
{
    width: 40%;
}
.red
{
    color: #cc0000;
}
#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1
{
    text-shadow: -1px 1px 0 #cc0000, 1px 1px 0 #cc0000, 1px -1px 0 #cc0000, -1px -1px 0 #cc0000, 0px 20px 0.5em #cc0000, 0px -20px 0.5em #cc0000, 30px 0px 0.5em #cc0000, -30px 0px 0.5em #cc0000;
}
.shadow-red
{
    text-shadow: -1px 1px 0 #cc0000, 1px 1px 0 #cc0000, 1px -1px 0 #cc0000, -1px -1px 0 #cc0000, 0px 10px 0.5em #cc0000, 0px -10px 0.5em #cc0000, 10px 0px 0.5em #cc0000, -10px 0px 0.5em #cc0000;
}
.shadow-green
{
    text-shadow: -1px 1px 0 #33cc33, 1px 1px 0 #33cc33, 1px -1px 0 #33cc33, -1px -1px 0 #33cc33, 0px 10px 0.5em #33cc33, 0px -10px 0.5em #33cc33, 20px 0px 0.5em #33cc33, -20px 0px 0.5em #33cc33;
}
p
{
    margin: 0;
    color: #ffffff;
    text-align: center;
}
#submit
{
    margin: 2% 0;
}
#titre
{
    margin-bottom: 2%;
}
#return
{
    position: fixed;
    top : 2%;
    left : 2%;
}