/*  
AUTHOR : Sébastien Bages
DATE : 21/09/19
*/

@media all and (max-width: 1690px) 
{
    body 
    {
        background-position: center;
    }
}
@media all and (max-width: 1024px) 
{
    #return
    {
        position: initial;
        top : initial;
        left : initial;
    }
}
@media all and (max-width: 780px)
{
    h1, #return
    {
        font-size: 1.5em;
    }
    label, p, table
    {
        font-size: 1em;
    }
    #submit, select
    {
        font-size: 0.8em;
    }
    textarea
    {
        width: 90%;
    }
}
@media all and (max-width: 360px) 
{

   
}
@media all and (max-width: 900px) and (max-height: 1024px) 
{
    

}